.DS_Store
Makefile.in
autom4te.cache/*
debug/config.*
debug/Makefile
release/config.*
release/Makefile
drachtio-alt.conf.xml
drachtio.xcodeproj/
aclocal.m4
config.guess
config.h.in
depcomp
config.guess
config.sub
/compile
/configure
/*~

# Compiled Object files
*.slo
*.lo
*.o
*.Po
*.Plo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.tar.gz
*.old
/build/
.vscode

test/.eslintignore
test/.eslintrc.json
test/package-lock.json
node_modules

AUTHORS
COPYING
