[submodule "deps/sofia-sip"]
        path = deps/sofia-sip
        url = https://github.com/davehorton/sofia-sip.git
[submodule "deps/libzrtp"]
	path = deps/libzrtp
	url = https://github.com/traviscross/libzrtp.git
[submodule "deps/prometheus-cpp"]
	path = deps/prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp.git
