[submodule "deps/prometheus-cpp"]
	path = deps/prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp.git
[submodule "deps/sofia-sip"]
	path = deps/sofia-sip
	url = https://github.com/davehorton/sofia-sip.git
	branch = main
[submodule "deps/cpp-bredis"]
	path = deps/cpp-bredis
	url = https://github.com/basiliscos/cpp-bredis.git
[submodule "deps/jansson"]
	path = deps/jansson
	url = https://github.com/akheron/jansson.git
[submodule "deps/hiredis"]
	path = deps/hiredis
	url = https://github.com/redis/hiredis.git
