name: Docker

on:
  push:
    branches:
      - main
    tags:
      - "*"

jobs:
  push:
    runs-on: ubuntu-24.04
    if: github.event_name == 'push'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Free Disk Space Before Build
        run: |
          echo "Disk space before cleanup:"
          df -h
          sudo rm -rf /usr/local/.ghcup
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo rm -rf /usr/local/lib/android/sdk/ndk
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
          sudo apt-get clean
          echo "Disk space after cleanup:"
          df -h

      - name: Read Environment Variables
        id: env_vars
        run: |
          for var in cmakeVersion grpcVersion libwebsocketsVersion speechSdkVersion spandspVersion sofiaVersion awsSdkCppVersion freeswitchModulesVersion freeswitchVersion; do
            value=$(grep "$var" .env | cut -d'=' -f2)
            echo "$var=$value" >> $GITHUB_OUTPUT
          done
        shell: bash

      - name: Prepare tag
        id: prepare_tag
        run: |
          IMAGE_ID=drachtio/drachtio-server

          # Strip git ref prefix from version
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')

          # Strip "v" prefix from tag name
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')

          # Use Docker `latest` tag convention
          [ "$VERSION" == "main" ] && VERSION=latest

          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION

          echo "image_id=$IMAGE_ID" >> $GITHUB_OUTPUT
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: "latest"
          driver: docker-container # Use the docker-container driver for multi-platform builds

      - name: Build and push multi-arch image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64  # Specify the architectures
          tags: ${{ steps.prepare_tag.outputs.image_id }}:${{ steps.prepare_tag.outputs.version }}
          build-args: | 
            BUILD_CPUS=16
            CMAKE_VERSION=${{ steps.env_vars.outputs.cmakeVersion }}
            GRPC_VERSION=${{ steps.env_vars.outputs.grpcVersion }}
            LIBWEBSOCKETS_VERSION=${{ steps.env_vars.outputs.libwebsocketsVersion }}
            SPEECH_SDK_VERSION=${{ steps.env_vars.outputs.speechSdkVersion }}
            SPANDSP_VERSION=${{ steps.env_vars.outputs.spandspVersion }}
            SOFIA_VERSION=${{ steps.env_vars.outputs.sofiaVersion }}
            AWS_SDK_CPP_VERSION=${{ steps.env_vars.outputs.awsSdkCppVersion }}
            FREESWITCH_MODULES_VERSION=${{ steps.env_vars.outputs.freeswitchModulesVersion }}
            FREESWITCH_VERSION=${{ steps.env_vars.outputs.freeswitchVersion }}
          push: true  # Ensure the images are pushed to the registry